/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */



/********************************
*                               *
* /!\ Color Manager /!\         *
*    - do not forget to update  *
*                               *
********************************/

:root {
  --ifm-color-primary: #2b7aa2;
  --ifm-color-primary-dark: #276e92;
  --ifm-color-primary-darker: #25688a;
  --ifm-color-primary-darkest: #1e5571;
  --ifm-color-primary-light: #2f86b2;
  --ifm-color-primary-lighter: #318cba;
  --ifm-color-primary-lightest: #3f9ccc;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  /* Citation blocks */
  --citation-border-left: #ccc;
  --citation-background-color: #ffffff8e;
  --quote-important-color: #1976d2;
  --quote-important-bg: #e3f2fd;
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  /* Citation blocks */
  --citation-border-left: #555;
  --citation-background-color: #1e1e1ecc;
  --quote-important-color: #90caf9;
  --quote-important-bg: #0d47a1;
}

div.language-bash span.token-line::before {
    content: '$';
    padding: 0 5px;
}


/********************************
*                               *
* Colored quotes in Docusaurus  *
*    - generated                *
*                               *
********************************/

/* Base style for all quotes */
blockquote {
  font-style: italic;
  border-left: 4px solid var(--citation-border-left);
  background-color: var(--citation-background-color);
  padding-left: 16px;
  margin: 16px 0;
  text-align: justify;
}

/* Small and light for citations*/
.citation{
  text-align: right;
  font-size: smaller;
  font-weight: lighter;
  border-left: 0px;
}

/* Used for documentation */
.quote-important {
  color: var(--quote-important-color);
  border-left-color: var(--quote-important-color);
  background-color: var(--quote-important-bg);
  font-weight: bold;
  font-size: 1.2em;
  padding: 12px;
}

/********************************
*                               *
* Classes for render pictures   *
*                               *
********************************/

.sse-image {
  width: 300px;
  max-width: 100%;
  display: block;
  margin: 1rem auto;
}

.small-figure {
  width: 300px;
  max-width: 100%;
  margin: 1.5rem auto;
  text-align: center;
}

.small-figure img {
  width: 100%;
  height: auto;
}

.small-figure figcaption {
  font-size: 0.9rem;
  color: var(--ifm-color-content-secondary);
  margin-top: 0.5rem;
}
/********************/